
 <footer class="footer">

  <button class="footer__button--up">

  <a href="#"
    ><img src="./assets/images/ico-arrow.svg" alt="Boton flecha hacia arriba"
  /></a>
</button>
  
   <aside class="footer__aside aside-1">
    <nav class="footer__nav">
      <ul class="footer__menu">
        <li><a class="footer__links" href="https://adalab.es/" target="_blank">Articles</a></li>
        <li><a class="footer__links" href="https://adalab.es/" target="_blank">Books</a></li>
        <li><a class="footer__links" href="https://adalab.es/" target="_blank">Events</a></li>
        <li><a class="footer__links" href="https://adalab.es/" target="_blank">Reasons</a></li>
        <li><a class="footer__links" href="https://adalab.es/" target="_blank">Tips</a></li>
      </ul>
    </nav>
   </aside>



   <aside class="footer__aside aside-2">
    <nav class="footer__nav">
      <ul class="footer__menu">
        <li><a class="footer__links" href="https://adalab.es/" target="_blank">Twitter</a></li>
        <li><a class="footer__links" href="https://adalab.es/" target="_blank">Instagram</a></li>
        <li><a class="footer__links" href="https://adalab.es/" target="_blank">Mastodon.social</a></li>
        
      </ul>
    </nav>
  </aside>

  <div class="footer-copyright">
  <small> &copy2017</small> 
  <small> we &#129505 components</small>
</div>
</footer>