<header class="header">
  <button class="header__button--menu">
    <a href="https://adalab.es/" target="_blank">
      <img src="./assets/images/ico-menu.svg" alt="Icono menu" />
    </a>
  </button>

  <div class="header__content">
    <h1 class="header__content--text">Anonymous proxy</h1>
    <p class="header__content--p">In hac habitasse platea dictumst.</p>
    <button class="header__button--scroll">
      <a href="#reason">
        <!--debe enlazar a la sección "3 Reasons To Purchase"-->
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="Boton direccion hacia abajo"
      /></a>
    </button>
  </div>
</header>
