// fonts
$font-main: "Roboto Slab", sans-serif;
$font-header: "Roboto Regular", sans-serif;

// colors

$lightblue: #8ccbea;
$bluesky: #0271bc;
$white: #ffffff;
$black: #000000;
$greyish-brown: #4a4a4a;
$bright-orange: #f26002;
$secondary: #999;
