.header {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__button--menu {
    width: 44px;
    height: 44px;
    background-color: $bluesky;
    border: none;
    position: fixed;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
  }

  &__content--text {
    width: 290px;
    height: 110px;
    font-size: 42px;
    text-align: center;
    line-height: 1.31;
    color: $white;
    font-family: $font-main;
    text-transform: uppercase;
    padding: 0 15px;

    @media all and (min-width: 768px) {
      width: 690px;
      height: 212px;
      font-size: 80px;

      @media all and (min-width: 1200px) {
        width: 730px;
        height: 264px;
        font-size: 100px;
      }
    }
  }

  &__content--p {
    width: 290px;
    height: 21px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-family: $font-header;
    color: $white;
    padding: 10px 15px 0 15px;
    margin-bottom: 45px;

    @media all and (min-width: 768px) {
      margin-bottom: 15px;
      width: 360px;
      height: 32px;
      font-size: 21px;

      @media all and (min-width: 1200px) {
        font-size: 24px;
      }
    }
  }

  &__button--scroll {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    border: none;
    margin-bottom: 53px;

    @media all and (min-width: 768px) {
      margin-bottom: 45px;
      margin-top: 15px;

      @media all and (min-width: 1200px) {
        margin-bottom: 13px;
      }
    }
  }
}
