.main {
  &__insomnia {
    background-color: $white;
    height: 376px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media all and (min-width: 768px) {
      height: 330px;
    }

    @media all and (min-width: 1200px) {
      height: 360px;
    }
  }

  &__tips {
    height: 30px;
    font-family: $font-header;
    font-size: 14px;
    color: $lightblue;
    text-transform: capitalize;
    margin-left: 15px;
    margin-bottom: 0;

    @media all and (min-width: 768px) {
      margin-left: 39px;
      line-height: 30px;
    }

    @media all and (min-width: 1200px) {
      margin-left: 275px;
      font-size: 16px;
    }
  }

  &__title {
    height: 60px;
    font-family: $font-main2;
    font-size: 24px;
    text-transform: capitalize;
    color: $black;
    margin-left: 15px;
    margin-bottom: 15px;

    @media all and (min-width: 768px) {
      height: 45px;
      line-height: 45px;
      font-size: 26px;
      margin-left: 39px;
    }

    @media all and (min-width: 1200px) {
      margin-left: 275px;
      font-size: 32px;
    }
  }

  &__text {
    height: 120px;
    font-family: $font-header;
    font-size: 18px;
    line-height: 30px;
    color: $greyish-brown;
    margin-left: 15px;
    margin-bottom: 30px;

    @media all and (min-width: 768px) {
      height: 60px;
      margin-left: 39px;
      font-size: 20px;
    }

    @media all and (min-width: 1200px) {
      margin-left: 275px;
      margin-right: 179px;
    }
  }

  &__button {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    color: $bright-orange;
    border: solid 2px $bright-orange;
    margin-left: 15px;
    background-color: $white;
    font-size: 20px;
    font-weight: 500;

    @media all and (min-width: 768px) {
      width: 91px;
      margin-left: 39px;
    }

    @media all and (min-width: 1200px) {
      margin-left: 275px;
      width: 160px;
    }
  }

  &__button:hover {
    background-color: $lightblue;
    transition: background-color ease 1s;
  }

  //MAIN REASON

  &__reason {
    background-color: $ice-blue;
    height: 624px;

    @media all and (min-width: 768px) {
      height: 397px;
    }

    @media all and (min-width: 1200px) {
      height: 427px;
    }
  }

  &__reason--title {
    font-family: $font-main2;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    padding: 30px 15px 45px;

    @media all and (min-width: 768px) {
      font-size: 26px;
      line-height: 45px;
    }

    @media all and (min-width: 1200px) {
      font-size: 32px;
    }
  }

  &__wrapper--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 90px 90px 90px;
    gap: 45px;
    margin: 0 70px;

    @media all and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 98px 98px;
      gap: 14px;
      margin: 0 38px;
    }
  }

  &__title--grid {
    text-align: center;
    font-family: $font-main2;
    line-height: 30px;

    @media all and (min-width: 768px) {
      height: 30px;
      font-size: 24px;
      margin-bottom: 14px;
    }
  }
  &__container--button {
    @media all and (min-width: 768px) {
      grid-column-start: 2;
      grid-column-end: 3;
      margin: auto;
    }
  }
  &__text--grid {
    text-align: center;
    font-family: $font-header;
    line-height: 30px;
    font-size: 18px;
    height: 63px;

    @media all and (min-width: 768px) {
      height: 68px;
      font-size: 20px;
    }
  }
  &__button--reason {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    border: none;
    background-color: $bright-orange;
    color: $white;
    font-family: $font-header;
    font-size: 20px;
    margin: 0 auto;
    display: block;
  }

  &__button--reason:hover {
    background-color: $white;
    color: $bright-orange;
    transition: background-color ease 1s, color ease 1s;
  }
}
